{% extends 'layout/layout.twig' %}
{% block title %} 100 Doors Kata {% endblock %}
{% block content %}
<div>
   <form method="post" action="/doors/run">
       <input type="text" name="doorStateIndex" value="{{ doorNumber }}" />
       <input type="submit" value="Run" />
   </form>
    {% for door in doors %}
        <div>{{ loop.index }}: {{ door.display() }}</div>
    {% endfor %}
</div>
{% endblock %}